<div class="container">
  <h4><mark>Автомобиль:</mark> {{ name }}</h4>
  <small>{{ model }}</small>
  <div class="alert alert-success">
    Характеристики:
    <ul>
      <li>скорость: <strong>{{ speed }}</strong></li>
      <li>Цвет: <strong>{{ colors.car}}</strong></li>
      <li>Цвет caлона: <strong>{{ colors.salon }}</strong></li>
      <li>Цвет дисков: <strong>{{ colors.wheels }}</strong></li>
    </ul>
  </div>
  <button class="btn btn-danger" (click)="showEdit()">Редактировать</button>
  <form *ngIf="isEdit">
    <div class="form-group">
      <input type="text" placeholder="название машины" class="form-control" [(ngModel)]="name" name="name"/>
      <input type="text" placeholder="модель машины" class="form-control" [(ngModel)]="model" name="model"/>
      <input type="number" placeholder="скорость машины" class="form-control" [(ngModel)]="speed" name="speed"/>
      <input type="text" placeholder="цвет машины" class="form-control" [(ngModel)]="colors.car" name="colors.car"/>
      <input type="text" placeholder="цвет салона" class="form-control" [(ngModel)]="colors.salon" name="colors.salon"/>
      <input type="text" placeholder="цвет дисков" class="form-control" [(ngModel)]="colors.wheels" name="colors.wheels"/>
    </div>
  </form>
  {{ options }}
  <div class="alert alert-warning">
    <form (submit)="addOption(option.value)">
      <div class="form-group">
        <label for="option">Добавление новой возможности</label>
        <input type="text" id="option" placeholder="Введите опцию" class="form-control" #option/>
        <button type="submit" class="btn btn-outline-success">Добавить</button>
      </div>
    </form>
    Опции:
    <ul>
      <li *ngFor="let opt of options; let i = index">{{ i+1 }}{{ opt }}
        <button class="btn btn-danger btn-sm" (click)="deleteOption(opt)">x</button>
      </li>
    </ul>
  </div>

  <h5>Выберите авто</h5>
  <button class="btn btn-danger" (click)="carSelect('bmw')">BMW</button>
  <button class="btn btn-success" (click)="carSelect('audi')">Audi</button>
  <button class="btn btn-info" (click)="carSelect('mers')">Mercedess</button>
</div>
